# Dependencies
node_modules
**/node_modules

# Environment files
.env
.env.production
**/.env
**/.env.production

# Build folders
build
**/build

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db